*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 40px;
}

header p {
  font-size: 20px;
}

.pads {
  background: lightgray;
  width: 100%;
  display: flex;
}

.pads > div {
  height: 100px;
  width: 100px;
  flex: 1;
}

.pad1 {
  background: #FF5733;
}

.pad2 {
  background: #F78D23;
}

.pad3 {
  background: #FFE50B;
}

.pad4 {
  background: #33A50C;
}

.pad5 {
  background: #20D0C8;
}

.pad6 {
  background: #7520D0;
}

.visual > div {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 0%;
  left: 20%;
  z-index: -1;
}

@keyframes jump{
  0%{
    bottom: 0%;
    left: 20%;
  }
  50%{
    bottom: 50%;
    left: 50%;
  }
  100%{
    bottom: 0%;
    left: 80%;
  }
}